<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="product_attribute_form_build_front_tab">
        <observer name="thanhvo_attribute_add_fields_to_attribute" instance="ThanhVo\FilterSlider\Observer\AddFieldsToAttributeObserver" />
    </event>
    <event name="adminhtml_product_attribute_types">
        <observer name="thanhvo_attribute_type" instance="ThanhVo\FilterSlider\Observer\ProductAttributeTypesObserver"/>
    </event>
    <event name="catalog_entity_attribute_save_before">
        <observer name="thanhvo_attribute_save_before" instance="ThanhVo\FilterSlider\Observer\ProductAttributeBeforeSaveObserver"/>
    </event>
</config>
